#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}
header {
  background-color: #f8f9fa;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  color: #007bff;
}

nav a.active {
  color: #007bff;
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
